.M-body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

.rr{
    position: relative;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
}

.img-div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 5%;
}

.img-div .fix-img{
    width: 150px;
    height: 150px;
}

.two-div {
    float: left;
    margin-left: 3%;
}

.logout-div, .profile-div {
    width: 150px;
    height: 75px;
    justify-self: center;
    text-align: center;
    align-items: center;
    margin-left: 5%;
    padding-top: 15%;
}